<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">

    <title>Trivial</title>
  </head>
  <body>
    

    <div class="row">
      <h1>Trivial</h1>      		  
    </div>

    <div class="row">
      <div class="span span2">
        <button id="get-wdata">Random Article</button>        

        <ul id="title-list">
        </ul>

      </div>
      
      <div class="span span10">
        <h2 id="title"></h2>
        <div id="content"></div>
      </div>

    </div>


    <script src="/static/js/jquery-1.10.1.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/trivial.js"></script>
  </body>

</html>
